*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #FFDBC5;
    align-items: center;
    justify-content: center;
    z-index: 5;
    font-family: 'Rubik', sans-serif;
}

.space{
  padding-top: 65px;
}

.header {
  background-color: #840234;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 5;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #840234;
}

.header li a {
  display: block;
  height: 100%;
  padding: 20px 20px;
  color: #FFDBC5;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  transition: 1s ease;
  background-color: rgb(221, 152, 127);
  color: #840234;
}

.header .logo {
  display: block;
  float: left;
  height: 2.5em;
  /* font-size: 2em; */
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .nav-icon {
  background: #FFDBC5;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #FFDBC5;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .nav-icon:before {
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}


@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

hr{
  width: 90%;
  height: 2px;
  background-color: #f24432;
  border: none;
}

  .pageName{
    font-family: 'Alkatra', cursive;
    color: #840234;
    height: 10vh;
    font-size: 5vh;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5%;
    background-color: #FFDBC5;
    position: relative;
    font-weight: 600;
  }

  .pageName:after{
    content:'';
    height: 2px;
    width: 30vw;
    background:#f24432;
    position:relative;
    margin:8px;
    left:0; 
    right:0; 
  }

  .wrapImgText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .imageContainer{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 70vh;
    background-color: #FFDBC5;
  }

  .profileImage{
    display: flex;
    /* padding-left: 30%; */
    width: 300px;
    height: 70vh;
  }

  .wrapDes{
    padding-top: 3%;
    font-family: 'Rubik', sans-serif;
    width:48vw;
    background-color: #FFDBC5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .description{
    font-size: large;
    padding-bottom: 5%;
  }

  .description h1{
    width: 48vw;
    padding-bottom: 5%;
    color: #840234;
  }

  .points{
    width: 100%;
    padding-top: 5%;
    display:flex;
    flex-wrap: wrap;
  }

  .pt1{
    width: 300px;
    padding: 2%;
    font-size: large;
  }

  .pt1 ul li,.pt2 ul li{
    color: #840234;
    list-style: disc;
    padding-bottom: 25px;
    font-weight: 600;
  }

  .tailLi{
    color: black;
    font-weight: 200;
  }

  .pt2{
    width: 40%;
    padding: 2%;
    font-size: large;
  }

  .wrapSkills{
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .skill{
    width: 400px;
    background-color: rgb(242, 68, 50,.25);
    color: #840234;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  
  
/* .skills{
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
} */

.skill-name{
  font-size: 18px;
  font-weight: 500;
  color: #840234;
  margin: 20px;
}

.skill-bar{
  height: 5px;
  background: white;
  border-radius: 3px;
  /* margin-top: -15px;
  margin-bottom: 15px; */
  margin: -15px 20px 15px 20px;
}

.skill-per{
  height: 5px;
  background: #f24432;
  color: white;
  border-radius: 3px;
  position: relative;
  animation: fillBars 2.5s 1;
}

.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: rgb(242, 68, 50);
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: -1;
  background: rgb(242, 68, 50);
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBars{
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}