*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #FFDBC5;
  align-items: center;
  justify-content: center;
  z-index: 5;
  font-family: 'Rubik', sans-serif;
}

.space{
padding-top: 65px;
}

.header {
background-color: #840234;
box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
position: fixed;
width: 100%;
z-index: 3;
}

.header ul {
margin: 5;
padding: 0;
list-style: none;
overflow: hidden;
background-color: #840234;
}

.header li a {
display: block;
height: 100%;
padding: 20px 20px;
color: #FFDBC5;
text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  transition: 1s ease;
background-color: rgb(221, 152, 127);
color: #840234;
}

.header .logo {
display: block;
float: left;
height: 2.5em;
/* font-size: 2em; */
padding: 10px 20px;
text-decoration: none;
}

/* menu */

.header .menu {
clear: both;
max-height: 0;
transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
cursor: pointer;
float: right;
padding: 28px 20px;
position: relative;
user-select: none;
}

.header .menu-icon .nav-icon {
background: #FFDBC5;
display: block;
height: 2px;
position: relative;
transition: background .2s ease-out;
width: 18px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
background: #FFDBC5;
content: '';
display: block;
height: 100%;
position: absolute;
transition: all .2s ease-out;
width: 100%;
}

.header .menu-icon .nav-icon:before {
top: 5px;
}

.header .menu-icon .nav-icon:after {
top: -5px;
}

/* menu btn */

.header .menu-btn {
display: none;
}

.header .menu-btn:checked ~ .menu {
max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
transform: rotate(-45deg);
top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
transform: rotate(45deg);
top:0;
}


@media (min-width: 48em) {
.header li {
  float: left;
}
.header li a {
  padding: 20px 30px;
}
.header .menu {
  clear: none;
  float: right;
  max-height: none;
}
.header .menu-icon {
  display: none;
}
}

hr{
width: 90%;
height: 2px;
background-color: #f24432;
border: none;
}

.pageName{
  font-family: 'Alkatra', cursive;
  color: #840234;
  height: 10vh;
  font-size: 5vh;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 5%;
  background-color: #FFDBC5;
  position: relative;
  font-weight: 600;
}

.pageName:after{
  content:'';
  height: 2px;
  width: 30vw;
  background:#f24432;
  position:relative;
  margin:8px;
  left:0; 
  right:0; 
}

.wrap-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 5px;
}

.education-summary-container , .prof-exp-container {
  background-color: #f5e5db;
  height: 100%;
  width: 500px;
  margin: 1%;
  padding: 2%;
  border-radius: 15px;
}

@media (max-width: 48em){
  .education-summary-container ,.prof-exp-container{
    margin: 5%;
    padding: 1.2rem;
  }
}

.subheading {
  font-size: 1.5rem;
  color: #ff4c38;
}

.education-container {
  border-left: 2px solid #f6aba2;
  /* padding-top: -0.4rem; */
  padding-left: 1.2rem;
  /* margin: 0.1rem; */
  margin-bottom: 4%;
}

@media (max-width:25em) {
  .education-container{
    padding-left: 1.1rem;
  }
}

.name ul li{
  font-size: 1.1rem;
  text-transform: uppercase;
  color: rgb(7, 7, 82);
}

.name li::marker 
{
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(7, 7, 82);
}

.date {
  margin: 0.5rem;
  background-color: #f8998f;
  color: #f5e5db;
  max-width: fit-content;
  padding: 0.2rem;
}

.description {
  margin: 0.5rem;
  font-style: italic;
  color: black;
}

.description-name {
  margin: 0.5rem;
  font-style: italic;
  color: #840234;
}

.plain-text {
  margin: 0.5rem;
  color: black;
}

.list {
  padding-left: 1.2rem;
  color: black;
}

.list ul li{
  margin: 0.5rem;
}